<form (ngSubmit)="onSubmit()" [formGroup]="formGroup"
      class="max-w-sm mx-auto h-full w-full flex flex-col justify-center">
  <h1 class="font-bold text-2xl">Izveidot krustojuma objektu:</h1>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900 " for="intersection-id_interesection">Krustojums:</label>
    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" formControlName="intersection_id"
            id="intersection-id_interesection">
      <option disabled selected>Izvēlaties krustojumu</option>
      @for (intersection of intersections;track intersection.id) {
        <option [value]="intersection.id">{{ intersection.title }}</option>
      }
    </select>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900" for="object-type-id_interesection">Objekta tips:</label>
    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" formControlName="object_type_id"
            id="object-type-id_interesection">
      <option disabled selected>Izvēlaties objekta tipu</option>
      @for (objectType of objectTypes;track objectType.id) {
        <option [value]="objectType.id">{{ objectType.type }}</option>
      }
    </select>
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900" for="intersection-lat">Platums (Latitude)</label>
    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" formControlName="latitude" id="intersection-lat" max="90" min="-90"
           required
           type="number">
  </div>
  <div class="mb-5">
    <label class="block mb-2 text-sm font-medium text-gray-900" for="intersection-lng">Garums (Longitute)</label>
    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" formControlName="longitude" id="intersection-lng" max="180" min="-180"
           required
           type="number">
  </div>
  <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
          type="submit">
    Submit
  </button>
  @if (successMessage === "success") {
    <p class="font-bold text-green-600">Vienības novietojums veiksmīgi izveidots!</p>
  } @else if (successMessage === "error") {
    <p class="font-bold text-red-600">Radusies kļūda!</p>
  }
</form>
