<div class="overflow-x-auto">
  <table class="table table-zebra">
    <thead>
    <tr>
      <th>id</th>
      <th>objekta id</th>
      <th>vienibas tipa id</th>
      <th>vienibas tips</th>
      <th>vienibas novietojuma id</th>
      <th>serijas nr.</th>
      <th>ipv4</th>
      <th>ipv6</th>
    </tr>
    </thead>
    <tbody>
      @for (unit of displayUnits;track unit.id) {
        <tr>
          <td>{{ unit.id }}</td>
          <td>{{ unit.object_id }}</td>
          <td>{{ unit.unit_type_id }}</td>
          <td>{{ unit.unit_type }}</td>
          <td>{{ unit.unit_placement_id }}</td>
          <td>{{ unit.serial_number }}</td>
          <td>{{ unit.ipv4 }}</td>
          <td>{{ unit.ipv6 }}</td>
          <td>
            <button class="btn btn-primary text-white rounded-md" (click)="onEdit(unit.id)">Edit</button>
          </td>
        </tr>
      }
  </table>
</div>
